@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  /* background: var(--background); */
  background: radial-gradient(at 50% 50%, #fafafa 0%, #f5f5f5 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  
    @keyframes spin2 {
      0% {
        stroke-dasharray: 1, 800;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 400, 400;
        stroke-dashoffset: -200px;
      }
      100% {
        stroke-dasharray: 800, 1;
        stroke-dashoffset: -800px;
      }
    }
  
    .spin2 {
      transform-origin: center;
      animation: spin2 2.5s ease-in-out infinite,
        spin 4.9s linear infinite;
      animation-direction: alternate;
    }

.text-justify-last-center {
  text-align: justify;
  text-align-last: center;
}

